@import "tailwindcss";

@theme {
    /* Paleta corporativa "Villa Plata" */
    --color-vp-beige: #F9F8F6;
    --color-vp-lavanda: #BA9BCA;
    --color-vp-morado: #6B2A78;
    --color-vp-gris: #9FA3A1;
    --color-vp-oscuro: #3D3853;
}